.ChatBubble {
	position: relative;
    color: #ffffff;
    background-color: #000000;
    border-radius: 15px;
    padding: 20px;
}
.ChatBubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-top-color: #000000;
	border-bottom: 0;
	margin-left: -15px;
	margin-bottom: -15px;
}

/* Thank you http://projects.verou.me/bubbly/ for the help here! */